<div class="item list-item">
    <div class="item-cover">
        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
    </div>

    <div class="item-title-container">
        <h2 class="item-title">{{ Model }}</h2>
    </div>

    <div class="item-author">
        <span class="item-author-icon">
            <i class="fas fa-user"></i>
            {{Product}}
        </span>

        <span class="item-author-icon">
            <i class="fas fa-calendar-alt"></i>
            {{BIOSReleaseDate}}
        </span>

        <span class="item-author-icon">
            <a href="#">
                <i class="fas fa-layer-group"></i>
                <span>Coffe</span>
            </a>
        </span>
    </div>

    <div class="item-content">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae placeat ut rem cumque sapiente
            repellendus nesciunt aliquid ullam alias sit! Adipisci non labore blanditiis rerum accusantium
            quas similique, perferendis cum!
        </p>
    </div>
    <div class="item-meta-container">
        <div class="item-meta item-preparation">
            <h3 class="item-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="item-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="item-meta item-servings">
            <h3 class="item-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="item-meta-text">
                0 Porções
            </div>
        </div>
    </div>

    <footer class="item-footer">
        <a class="item-read-more button button-dark button-full-width" href="/items/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
</div>