{% include 'clone/components/head.html' %}

<body>
    {% include 'clone/components/header.html' %}
    {% include 'clone/components/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'clone/components/item.html' %}
            {% include 'clone/components/item.html' %}
            {% include 'clone/components/item.html' %}
            {% include 'clone/components/item.html' %}
        </div>
    </main>
    {% include 'clone/components/footer.html' %}
</body>

</html>